---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Install from "@/components/Install.astro";
---

<Layout title="Tailwind Tooltip">
  <main>
    <Hero />
    <Install />
  </main>
</Layout>