<section class="mt-5">
  <span class="text-sm font-semibold opacity-80"
    >4. For more information check the <a
      href="https://github.com/SantiMit1/tailwind-tooltip/blob/main/README.md"
      target="_blank"
      rel="noopener noreferrer"
      class="underline">docs</a
    ></span
  >
</section>
